<h1> List of To Do </h1>
<p>
    <%= link_to "Create a To Do", new_todo_path %>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% @todo.each do |t| %>
        <tr>
            <td><%= t.name %></td>
            <td><%= t.description %></td>
            <td><%= link_to "Show", todo_path(t) %></td>
            <td><%= link_to "Edit", edit_todo_path(t) %></td>
            <td><%= link_to "Delete", todo_path(t) ,
                    method: :delete,
                    data: { confirm: 'Delete this to do?' } %></td>
        </tr>
    <% end %>
</table>